<div class="container">
  <div class="row">
    <span class="col-6">{{ tableConfig.title }}</span>
    <app-roll class="col-6" (newRollEvent)="roll($event)" [max]="tableContent.length - 1"></app-roll>
  </div>
  <table class="table table-striped" [id]="getSanitizedId()">
    <thead>
    <tr>
      <th *ngFor="let columnHead of tableConfig.columns">{{ columnHead.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let columnData of tableContent; index as index" id="{{ getSanitizedId() }}-{{ index }}">
      <td *ngFor="let columnHead of tableConfig.columns" [ngClass]="{'table-success': activeRoll == index}">{{ columnData[columnHead.dataProperty] }}</td>
    </tr>
    </tbody>
  </table>
</div>
